{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <title>Map</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <style type="text/css">
        .mapael .map {
            position: relative;
        }

        .mapael .mapTooltip {
            position: absolute;
            background-color: #fff;
            moz-opacity: 0.70;
            opacity: 0.70;
            filter: alpha(opacity=70);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            max-width: 200px;
            display: none;
            color: #343434;
        }
      </style>


      <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/jquery-mapael@2.2.0/js/jquery.mapael.min.js"></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
      <script src='{% static "/jquery-mapael/js/jquery.mapael.js" %}' charset="utf-8"></script>
      <script src='{% static "/jquery-mapael/js/maps/france_departments.js" %}' charset="utf-8"></script>
      <script src='{% static "/jquery-mapael/js/maps/world_countries.js" %}' charset="utf-8"></script>
      <script src='{% static "/jquery-mapael/js/maps/usa_states.js" %}' charset="utf-8"></script>

      
      <link rel="stylesheet" href="{% static 'map/style.css' %}">
      <script>
          var embassies = {{ embassy_list|safe }};
          var countries = {{ countries|safe }};
          function openPopups(country) {
              var markers = document.getElementsByClassName(`${country}`);
              for (i = 0; i < markers.length; ++i) {
                  if (!markers[i].markerInstance.getPopup().isOpen()){
                      markers[i].markerInstance.togglePopup();
                  }
              }
          };
          function showMarkers(countriesToKeep) {
              for (i=0; i<countriesToKeep.length; ++i) {
                  var marker = document.getElementById(`${countriesToKeep[i]}`);
                  marker.style.visibility = 'visible';
              }
          };
          function hideMarkers() {
              for (i=0; i<countries.length; ++i) {
                  var markers = document.getElementsByClassName(`${countries[i]}`);
                  for (j=0; j<markers.length; ++j) {
                      markers[j].style.visibility = 'hidden';
                  }
              }
          };
          //returns a list. first elem: the greatest difference in latitude, second elem: midpoint between two farthest markers
          function getDistanceMidpoint(country) {
              var markers = document.getElementsByClassName(`${country}`);
              var result = 0;
              var midpoint = [markers[0].markerInstance.getLngLat().lng, markers[0].markerInstance.getLngLat().lat];
              for (i = 0; i < markers.length-1; ++i) {
                  for (j = i+1; j < markers.length; ++j) {
                      var firstLat = markers[i].markerInstance.getLngLat().lat;
                      var secondLat = markers[j].markerInstance.getLngLat().lat;
                      var latDif = Math.abs(firstLat - secondLat);
                      if (latDif > result) {
                          result = latDif;
                          var firstLng = markers[i].markerInstance.getLngLat().lng;
                          var secondLng = markers[j].markerInstance.getLngLat().lng;
                          midpoint = [ (firstLng + secondLng)/2, (firstLat + secondLat)/2 ];
                      }
                  }
              }
              return [result, midpoint];
          };
          function center(country) {
              var distAndMid = getDistanceMidpoint(country);
              var distance = distAndMid[0];
              var midpoint = distAndMid[1];
              //varying zoom settings depending on the greatest distance between the markers
              //might chage these later
              var zoomSetting = 6;
              if (distance > 10.0) {
                  zoomSetting = 3;
              }
              else if (distance > 5.0) {
                  zoomSetting = 4;
              }
              map.flyTo({
                  center : midpoint,
                  zoom : zoomSetting,
                  speed : .6,
                  essential: true
              });
              openPopups(country);
          };
          function closePopups(country) {
              var curCountries = document.getElementsByClassName(`${country}`);
              for (j = 0; j < curCountries.length; ++j) {
                  var popup = curCountries[j].markerInstance.getPopup();
                  if (popup.isOpen()) {
                      popup.remove();
                  }
              }
          };
          //closes all existing popups and switches to country
          function switchCountries(oldCountry, newCountry) {
              if (oldCountry !== "") {
                  closePopups(oldCountry);
              }
              center(newCountry);
          };
          //not sure if a global variable is good style
          let countryList = {{countries|safe}};
          function chooseCountry() {
              if (countryList.length === 0) {
                  return "";
              }
              var chosenIndex = Math.floor(Math.random() * countryList.length);
              var chosenCountry = countryList[chosenIndex];
              countryList.splice(chosenIndex, 1);
              return chosenCountry;
          };

          function openIssue(country) { //delete / move to another doc
              var curCountries = document.getElementsByClassName(`${country}`);
              for (j = 0; j < curCountries.length; ++j) {
                  var popup = curCountries[j].markerInstance.getPopup();
                  if (!((popup.innerHTML).indexOf("No US Diplomatic Presence") !== -1 || (popup.innerHTML).indexOf("Embassy") !== -1)) {
                     //has neither of these strings
                     continue;
                  }
                  if (!popup.isOpen()){
                      popup.togglePopup();
                  }
                  //to do: use popup or marker element to do the following
                  var elems = document.getElementsByClassName(`issuebtn${country}`);
                  for (i = 0; i < elems.length; ++i) {
                      elems[i].style.visibility = 'visible';
                  }
                  elems = document.getElementsByClassName(`issueparagraph${country}`);
                  for (i = 0; i < elems.length; ++i) {
                      elems[i].style.visibility = 'visible';
                  }
              }
          };
          function setPopupText(list, param) {
              var str = ``;
              for (n=0; n<list.length; ++n) {
                 str = str.concat(`<p>\"${list[n][0]}\"<br>${list[n][1]}<br>${list[n][2]}<br>Description: ${list[n][3]}</p>`);
              }
              param.content = str;
          };
          function sendAjax(country, param) {
              $.ajax({
                  url: '{% url "get_news" %}',
                  data: {
                    'country': country
                  },
                  async: false,
                  dataType: 'json',
                  success: function (data) {
                      setPopupText(data.article_list, param); //passing by reference
                  }
              });
          };
          function getNews(btnid) {
              var country = btnid.substring(0,btnid.indexOf('newsbtn'));
              var parag = {content: ''};
              sendAjax(country, parag);
              document.getElementById('newsdiv').innerHTML = `<p>${country} news: </p>`+ parag.content;
          };

          function sendAjaxIssue(country, issue, text, units, dataPoint) {
            var parag = {content: ''};
            $.ajax({
                url: '{% url "map:get_news_issue" %}',
                data: {
                  'country': country,
                  'issue' : issue
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    setPopupText(data.article_list, parag);
                    var popupElem = document.getElementById(`${country}`).markerInstance.getPopup().setHTML(
                      `<h3>${country}</h3>` + `<p>${text}${dataPoint} ${units}</p>` + parag.content +
                      `<img src="" alt="My image" width = "40" height="40">`
                    );

                }
            });
          };
          function reload(){
              location.reload();
              return false;
          };

          var issuesSummaries = {{ issues_summaries|safe }};

          var abort = false; //variable for freestyle loop to stop
          document.addEventListener('DOMContentLoaded', function() {
              var allCountries = {{countries|safe}};
              document.querySelector('#countryselector').onclick = function() {
                  //closes all popups when the form is resubmitted
                  for (i = 0; i < allCountries.length; ++i) {
                      closePopups(allCountries[i]);
                  }
                  const country = document.querySelector('#countries').value;
                  center(country);
              };

              document.querySelector('#issueselector').onclick = function() {
                  for (i = 0; i < allCountries.length; ++i) {
                      closePopups(allCountries[i]);
                  }
                  map.flyTo({
                      center: [12.550343, 55.665957],
                      zoom: 2
                  });
                  const issue = document.querySelector('#issues').value;
                  document.getElementById('header').innerHTML = `${issue}`;
                  var text = '';
                  var units = '';
                  for (i=0; i < issuesSummaries.length; ++i) {
                      if (issuesSummaries[i][0] === issue) {
                          document.getElementById('description').innerHTML = `${issuesSummaries[i][1]}`;
                          units = issuesSummaries[i][2];
                          text = issuesSummaries[i][3];
                          break;
                      }
                  }

                  var list = [];
                  if (issue === 'Air pollution') {
                      list = {{ airpollution|safe }};//create if statements to assign list to appropriate template
                  }
                  else if (issue === 'CO2 emissions') {
                      list = {{ co2emissions|safe }};
                  }
                  var cur_countries = [];
                  for (i = 0; i < list.length; ++i) {
                      var country = list[i][0];
                      if (!allCountries.includes(country)) {
                         continue;
                      }
                      var dataPoint = list[i][1];
                      cur_countries.push(country);
                      sendAjaxIssue(country, issue, text, units, dataPoint);
                  }
                  hideMarkers();
                  showMarkers(cur_countries);
                  document.getElementById('reload').style.visibility = 'visible';
                  document.getElementById('countryform').style.visibility = 'hidden';
                  document.getElementById("fsmodebtn").style.visibility = 'hidden';
                  document.getElementById('stopbtn').style.visibility = 'hidden';

              };
              //loops through each country, zooming into its embassy/consulates.
              //stops when loop is over
              //TO DO: make stop and restart buttons.
              //TO DO: have the loop automatically restart

              document.querySelector('#fsmodebtn').onclick = function() {
                  var old = "";
                  var cur = chooseCountry();
                  function loop() {
                      if (abort) {
                          return;
                      }
                      setTimeout(function() {
                          switchCountries(old, cur);
                          old = cur;
                          cur = chooseCountry();
                          if (cur !== "") {
                              loop();
                          }
                      }, 10000) //this is the time for each loop iteration
                  }
                  loop();
              };

          });
      </script>
  </head>
  <body>
      <div id='intro' style='margin-left:25px'>
          <h1 id='header' style='text-align:center;'>American Diplomatic Presence</h1>
          <button id='reload' style="visibility:hidden;" onclick='reload()'>Back</button>
          <p id='description'>
            With 274 embassies, consulates, and other diplomatic missions around the globe,
            the United States boasts the greatest diplomatic presence of any country.
            To learn more about our bilateral relations with each country as well as the countries of focus
            in solving the most pressing global issues. Key: Red pins - countries where the US has a diplomatic presence;
            blue pins - countries where the US does not have a diplomatic presence.
          </p>
          <div id='newsdiv'></div>
          <form id="countryform" style="visibility:visible;">
              <label>Explore a country: </label>
              <select id="countries" name="countries">
                  {% for country in countries %}
                      <option value="{{country}}">{{country}}</option>
                  {% endfor %}
              </select>
              <input id="countryselector" type="button" value="Explore!">
          </form>
          <form id="issueform">
              <label>Or a global issue: </label>
              <select id="issues" name="issues">
                  {% for issue in issues %}
                      <option value="{{issue}}">{{issue}}</option>
                  {% endfor %}
              </select>
              <input id="issueselector" type="button" value="Explore!">
          </form>
          <button id="fsmodebtn" style="visibility:visible;">Freestyle Mode</button>
          <button id="stopbtn" style="visibility:visible;" onclick="abort = true">Stop</button>
      </div>
      <div id='map' style='margin-left: 25px; margin-right: 25px; height: 750px;'></div>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZXNpbnlhdmluIiwiYSI6ImNrY3F0b2E0eDE2dWUycm8ycnZiaWFnMGoifQ.fNIknam7PYZohKbgfigHvA';
          var map = new mapboxgl.Map({
            pitch:0.01,
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [35.385076, 36.983267],
            zoom: 2
          });

          var embassies = {{ embassy_list|safe }};
          var countries = {{ countries|safe }};

          const countriesNoDiplPresence = {{ nodiplpresencelist|safe }};
          for (var i = 0; i < countriesNoDiplPresence.length; i++) {
              var props = countriesNoDiplPresence[i];
              var country = props[0];

              //var parag = {content: ''};
              //sendAjax(country, parag);

              var el = document.createElement('div');
              el.className = `${country}`;
              el.id = `${country}`;
              el.style.width = '15px';
              el.style.height = '15px';
              el.style.borderRadius = '50%';
              el.style.border = '0.25px solid';
              el.style.backgroundColor = 'rgb(72, 61, 139)';
              //el.style.color = 'blue';
              let tmpMarker = new mapboxgl.Marker(el);
              el.markerInstance = tmpMarker;



              //TO DO: how to make these markers present for issues
              //TO DO: should we add countries with no dipl presence to main menu?
              //TO DO: make spreadsheet with all countries and lat/long and use it instead of countries template var
              tmpMarker.setLngLat([props[2],props[1]]).setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(`<h3 class="title${country}">No US Diplomatic Presence</h3><p>${country}</p>` +
                `<button id='${country}newsbtn' onclick='getNews(country)'>Get the latest news!</button>`+
                `<img src='' alt="My image" width = "40" height="40">`)).addTo(map);
              el.addEventListener("click", e => {
                  // here's where I can use the "markerInstance" I added earlier to then expose the getLngLat
                  let coords = e.target.markerInstance.getLngLat();
                  //tell the map to center on the marker coordinates
                  map.flyTo({
                      center: coords,
                      speed: 0.6,
                      zoom: 5
                  });
              });

          }
          var supportedLangs = ["en","de","es","fr","hi","id","it","ja","ko","nl","pl",
                "pt","ru","zh-cn","zh-tw","uz","cs","bs","ro","sq","hr","az","hu"]
            var langs = JSON.parse('{{ lang_list|safe }}');
          for(var i = 0; i < embassies.length; i++) {
              props = embassies[i];
              if (props[0] !== "Active") {
                  continue;
              }
              var el = document.createElement('div');

              //var parag = {content: ''};
              if (document.getElementsByClassName(`${props[2]}`).length === 0) { //first emb/cons of a given country
                  //parag = `<p id='parag${props[2]}'></p>`
                  //sendAjax(props[2], parag);
                  el.id = `${props[2]}`;
              }
              //commented out code is for adding background image
              el.className = props[2].toString(); //used to be set to 'marker'
              //red box image
              //var marker = new mapboxgl.Marker().setLngLat([props[14],props[13]]).addTo(map);
              var title = '';
              var city = props[3]; //city name
              if (props[5] === 'OFFOBC') {
                  title = `US Embassy in ${city}.`;
              }
              else if (props[5] === 'OFFCOB') {
                  title = `US Consulate in ${city}.`;
              }
              else if (props[5] === 'OFFOBX'){
                  title = `Annex building in ${city}.`;
              }
              else if (props[5] === 'OFFCAX' || props[5] === 'OFFAPP') {
                  title = `US Embassy branch office in ${city}`;
            }
            else {
                  title = `${props[2]}.`; //just to be safe -- change later
              }
              
              var btn = '<div style="margin: 0 auto; width: 110px; text-align: center; cursor: pointer; background-color: black" onclick="myfunc('+props[13]+')"><p style="color: white">Play Language</p></div>'

              function myfunc(x){
                  var msg = new SpeechSynthesisUtterance(); 
                    msg.text = langs[x].word;
                    msg.lang = langs[x].language;
                    if(!supportedLangs.includes(langs[x].language)){
                        window.alert("Sorry! "+ langs[x].langFull.toString() + " is not currently supported.");
                    }
                    else{
                        window.speechSynthesis.speak(msg);
                    }
                    //window.alert(msg.lang);
              }
              el.style.backgroundImage = 'url(https://i.pinimg.com/564x/f4/a8/6a/f4a86a209ba10ab95afcfd4ed29f3acf.jpg)';
              el.style.width = '15px';
              el.style.height = '15px';
              el.style.borderRadius = '50%';
              el.style.border = '0.25px solid';
              
              //var marker = new mapboxgl.Marker().setLngLat([props[14],props[13]]).addTo(map);
              let tmpMarker = new mapboxgl.Marker(el);
              el.markerInstance = tmpMarker;
                tmpMarker.setLngLat([props[14],props[13]]).setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(`<h3 class="title${props[2]}">` + title + `</h3><p>${props[2]}</p>` +
                `<button id='${props[2]}newsbtn' onclick='getNews(this.id)'>Get the latest news!</button>` + `<div id='${props[2]}div'></div>` +
                `<img src="" alt="My image" width = "40" height="40">` + btn)).addTo(map);

              
              el.addEventListener("click", e => {
                  // here's where I can use the "markerInstance" I added earlier to then expose the getLngLat
                  let coords = e.target.markerInstance.getLngLat();
              //l.markerInstance = tmpMarker2;
                //tmpMarker2.setLngLat(coords).addTo(map);
                  //tell the map to center on the marker coordinates
                  map.flyTo({
                      center: coords,
                      speed: 0.6,
                      zoom: 6
                  });
                  
              });

              //TO DO: find a way to add it to popup, not replaces the html already there!
              $.ajax({
                  url: '{% url "map:get_news" %}',
                  data: {
                    'country': `${props[2]}`
                  },
                  dataType: 'json',
                  success: function (data) {
                      tmpMarker.getPopup().setText(data.article_list.toString());
                      //var cur = tmpMarker.getPopup().getElement();
                      //tmpMarker.getPopup().setHTML(`${cur}<p>${data.article_list.toString()}</p>`);
                  }
              });

          }
      </script>

      <h1>Year</h1>
      <h1 id="year"></h1>

      <div class="mapcontainer">
            <div class="map">
                <span>Alternative content for the map</span>
            </div>
            <div class="areaLegend">
                <span>Alternative content for the legend</span>
            </div>
            <div class="plotLegend">
                <span>Alternative content for the legend</span>
            </div>
        </div>
      <script type="text/javascript">
        var counter = 0;
        var yearStart = 1990;
        document.getElementById('year').textContent = yearStart + counter;
        window.setInterval(function test(){
        counter = (counter + 1) % 29;
        document.getElementById('year').textContent = yearStart + counter;

        }, 1000)

 /*       $(".container").mapael({
        map : {
            name : "world_countries"
        }
        });
*/

        var lstHDI = {{countriesHDI|safe}};
        $(function () {
            $(".mapcontainer").mapael({
                "map": {
                    "name": "world_countries",
                    "defaultArea": {
                        "stroke": "#fff",
                        "stroke-width": 1
                    }
                },
                "legend": {
                    "area": {
                        "title": "Countries Human Development Index",
                        "slices": [
                            {
                                max: .2,
                                attrs: {
                                    fill: "#6aafe1"
                                },
                                label: "Less than 5 million inhabitants"
                            },
                            {
                                min: 0.2,
                                max: 0.4,
                                attrs: {
                                    fill: "#459bd9"
                                },
                                label: "Between 5 million and 10 million inhabitants"
                            },
                            {
                                min: 0.4,
                                max: 0.7,
                                attrs: {
                                    fill: "#2579b5"
                                },
                                label: "Between 10 million and 50 million inhabitants"
                            },
                            {
                                min: 0.7,
                                attrs: {
                                    fill: "#1a527b"
                                },
                                label: "More than 50 million inhabitants"
                            }
                        ]
                    },
                },
                "areas": {
                    "CA": {
                        "value": lstHDI["CA"][1],
                        "href": "#",
                        "tooltip": {
                            "content": "<span style=\"font-weight:bold;\">Canada<\/span><br \/>Population : " + lstHDI["CA"][1]
                        }
                    },
                }
            });
        });

/*
          // Tell user if the embassy is open
          function isOpen(start, end, time){
              if(start < end){
                  if(start <= time && time < end){
                      return true;
                  }
                  else{
                      return false
                  }
              }
              else{
                  if(start <= time || time < end){
                      return true;
                  }
                  else{
                      return false;
                  }
              }
          }
          mapboxgl.accessToken = 'pk.eyJ1IjoiZXNpbnlhdmluIiwiYSI6ImNrY3F0b2E0eDE2dWUycm8ycnZiaWFnMGoifQ.fNIknam7PYZohKbgfigHvA';
          var map2 = new mapboxgl.Map({
            container: 'map2',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [0,0],
            zoom: 1    
     
          });
          map2.scrollZoom.disable();
          var geojson = {
            type: 'FeatureCollection',
            features: [{
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [-77.032, 38.913]
                },
                properties: {
                    title: 'Mapbox',
                    description: 'Washington, D.C.',
                    openHour: 0,
                    closeHour: 12,
                }
            },
            {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [-122.414, 37.776]
                },
                properties: {
                    title: 'Mapbox',
                    description: 'San Francisco, California',
                    openHour: 15,
                    closeHour: 3,
                }
            }]
          };
            var markerLst = []
            geojson.features.forEach(function(marker) {
                // make a marker for each feature and add to the map
                //var m = new mapboxgl.Marker(el)
                //.setLngLat(marker.geometry.coordinates)
                //.addTo(map2);
                var color = "#ff0000";        // Color red for close
                if(isOpen(marker.properties.openHour, marker.properties.closeHour, counter)){
                    // Color green for open
                    color = "#008000"
                }
                markerLst.push(
                    new mapboxgl.Marker({color: color, "icon-size": "0.5"})
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map2));
            });
            window.setInterval(function test(){   
                counter = (counter + 1) % 24;
                if(counter == 0){
                    document.getElementById('time').textContent = "12:00 AM";
                }
                else if(counter < 12){
                    document.getElementById('time').textContent = counter.toString() + ":00 AM";
                }
                else if(counter >= 12){
                    document.getElementById('time').textContent = (counter % 12) == 0 ? "12:00 PM" : (counter % 12).toString() + ":00 PM";
                }
                
                markerLst.forEach((m) => {
                    m.remove();
                });
                markerLst = [];
                geojson.features.forEach(function(marker) {
                    var color = "#ff0000";        // Color red for close
                    if(isOpen(marker.properties.openHour, marker.properties.closeHour, counter)){
                        // Color green for open
                        color = "#008000"
                    }
                    markerLst.push(
                        new mapboxgl.Marker({color: color, "icon-size": "0.5"})
                        .setLngLat(marker.geometry.coordinates)
                        .addTo(map2));
                });
            
            }, 1000);
            */

      </script>

  </body>
</html>