{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Map</title>
      <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
      <!--link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}"-->
      <script>
          function center(country) {
              map.flyTo({
                  center: [-3.975871, 5.334631],
                  zoom : 4,
                  essential: true
              });
              <!-- set to cote divoire; use dict -->
          };
          document.addEventListener('DOMContentLoaded', function() {
              document.querySelector('#countryselector').onclick = function() {
                  const country = document.querySelector('#countries').value;
                  center(country);
              };
          });
      </script>
  </head>
  <body>
      <h1>Hello world! This is our interactive map</h1>
      <form id="countryform">
          <label>Which country would you like to explore?</label>
          <select id="countries" name="countries">
            <!--to do: add all countries using loop-->
              {% for country in countries %}
                  <option value="{{country}}">{{country}}</option>
              {% endfor %}
          </select>
          <input id="countryselector" type="button" value="Submit">
      </form>
      <div id='map' style='width: 1000px; height: 670px;'></div>
      <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZXNpbnlhdmluIiwiYSI6ImNrY3F0b2E0eDE2dWUycm8ycnZiaWFnMGoifQ.fNIknam7PYZohKbgfigHvA';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [12.550343, 55.665957],
            zoom: 2
          });

          var marker = new mapboxgl.Marker()
            .setLngLat([12.550343, 55.665957])
            .addTo(map);
      </script>
  </body>
</html>
